@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<p>Welcome to your new app.</p>

<p>Clicked: @clicked</p>

<p><button @onclick="increase">Click me</button></p>

@code {
    private int clicked;

    private void increase() => clicked++;
}
