@page "/"
@inject NavigationManager NavManager
@inject MediaWikiOAuthService OAuthService
@inject IHttpContextAccessor HttpContextAccessor

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<p>Welcome to your new app.</p>

@if (userProfile is not null) {
    <p>Hello, @userProfile.UserName.</p>
    <p>@userProfile.Groups</p>
    <p>@userProfile.Groups.GetType().ToString()</p>
} else {
    <p>Click the below button to Log in.</p>

    <p>
        <button @onclick="login">Log in</button>
    </p>
}

@code {
    private UserProfile? userProfile;

    protected override async Task OnInitializedAsync() {
        var accessToken = HttpContextAccessor.HttpContext!.Session.GetString("AccessToken");

        if (accessToken is not null) {
            userProfile = await OAuthService.GetUserProfileAsync(accessToken);
        }
    }

    private void login() => NavManager.NavigateTo(OAuthService.BuildAuthorizationUrl().ToString(), forceLoad: true);
}
